$darkenRed: #400000;
$middleRed: #603030;
$lightRed: #604040;

$darkenBlue: #010141;
$middleBlue: #2f3060;
$lightBlue: #40415f;

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Poppins, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

@font-face {
  font-family: impactedFont;
  src: url("/src/assets/impacted2.0.ttf");
}

.mix {
  font-family: impactedFont;
  font-size: 30px;
}

ol,
{
  list-style: none;
}

body{
  background-color: $darkenRed;

  .contrast-mode & {
    background-color: $darkenBlue;
  }
}

#app {
  transition: all .5s;  
}

img {
  max-width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

.currentClick {
  text-decoration: underline;
  background-color: $darkenRed;

  .contrast-mode & {
    background-color: $darkenBlue;
  }
}

.title {
  padding: 20px 0;
}

nav, footer {
  padding:  10px 10px 20px 10px;    
  font-weight: 700;  
  color: #ffffc0;
  background-image: linear-gradient(0deg, $lightRed 25%, $middleRed 25%, $middleRed 50%, $lightRed 50%, $lightRed 75%, $middleRed 75%, $middleRed 100%);
  background-size: 12.00px 12.00px;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  position: relative;

  // .marquee-cont {
  //   position: absolute;
  //   bottom:-50px;
  //   height: 50px;
  //   width: 100%;
  //   background-color: gray;    
      
  //   .marquee { 
  //     width: 1200px;  
  //     margin: 0 auto;
  
  //     &--warbar {
  //       height: 50px;
  //       overflow: hidden;
  //       position: relative;
  //     }
  
  //     .list {
  //       list-style: none;
  //       display: flex;
  //       margin: 0;
  //       padding: 0;
  //       position: absolute;
  //       width: 100%;
  //       margin-left: 0;       
        
  //       &__item {
  //         flex-grow: 0;
  //         flex-shrink: 0;
  //         padding: 20px;
  //         text-align: center;
  //         width: 20%;

  //         .last-match {
  //           display: flex;

  //           .lastPlayerWar {
  //             display: flex;
  //             div {
  //               margin: 0 10px;
  //             }
  //           }
  //         }
  //       }
  //     }
  //   }
  // }

  

  .nav-left {
    display: flex;   
    align-items: center;  
    flex-wrap: wrap; 
    padding-left: 20px; 

    .logo {
      max-width: 150px;
      position: relative;

      @media screen and (max-width: 992px){
        display: none;
      }

      .mix {
        color: #fff;
        text-align: center;
        letter-spacing: 1px;
        position: absolute;
        bottom: -13px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        
        &:hover {
          text-decoration: none;
        }
      }
    } 
    
    .home {
      @media screen and (min-width: 993px){
        display: none;
      }
    }
  }  

  .contrast-mode & {
    background-image: linear-gradient(0deg, $lightBlue 25%, $middleBlue 25%, $middleBlue 50%, $lightBlue 50%, $lightBlue 75%, $middleBlue 75%, $middleBlue 100%);
    background-size: 12.00px 12.00px;
  }

  a {    
    text-decoration: none;
    color: #ffffc0;
    margin: 0 20px 0 0;
    line-height: 30px;
    padding: 5px;

    i {
      font-size: 30px;
    }

    &:hover {
      text-decoration: underline;

      &:first-of-type {
        text-decoration: none;
      }
    }
  } 

  .our {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    padding-right: 20px;

    @media screen and (max-width: 992px){
      flex-direction: column;
    }

    .lds-dual-ring {
      display: inline-block;
      width: 40px;
      height: 40px;
    }
    .lds-dual-ring:after {
      content: " ";
      display: block;
      width: 32px;
      height: 32px;
      margin: 4px;
      border-radius: 50%;
      border: 3px solid #fff;
      border-color: #fff transparent #fff transparent;
      animation: lds-dual-ring 1.2s linear infinite;
    }
    @keyframes lds-dual-ring {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }        

    #our-players {  
      display: flex;
      align-items: center;
      
      i {
        font-size: 32px;
      }

      div {
        margin-left: 5px;
      }

      span {
        font-size: 15px;
        margin-right: 5px;
        @media screen and (max-width: 999px){
          display: none;
        }
      }
    }

    #our-matches {
      margin-left: 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        font-size: 15px;
        margin-right: 5px;
        @media screen and (max-width: 999px){
          display: none;
        }
      }

      @keyframes pulser {
        0% {
          opacity: 1;
        }

        50% {
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
      }

      #our-matches2 {
        margin-left: 10px;

        .pulse-mark {
          -webkit-animation: pulsate 3s ease-out;
          -webkit-animation-iteration-count: infinite; 
          opacity: 0.5;
        }
        @-webkit-keyframes pulsate {
          0% { 
              opacity: 0.5;
          }
          50% { 
              opacity: 1.0;
          }
          100% { 
              opacity: 0.5;
          }
        }        
      }
    }
  }
}

#home {
  position: relative;

  .marquee {
    position: absolute;
    top: 0;
    width: 100%;

    .swiper-container {
      width: 100%;
      height: 100%;
      position: relative;
      // &:after {
      //   content: '';
      //   display: block;
      //   width: 200%;
      //   height: 1px;
      //   background: linear-gradient(90deg, black 50%, transparent 50%);
      //   background-size: 10% 1px;
      //   background-position: -50px;
      //   background-repeat: repeat-x;
      //   position: absolute;
      //   left: -10%;
      //   top: 40%;
      //   animation: line-slide 60s forwards infinite linear;
      //   z-index: 1;
      // }
      &.swiper--bottom {
        &:after {
          animation-direction: reverse;
        }
      }
    }
    .swiper-wrapper{
      -webkit-transition-timing-function:linear!important;    transition-timing-function:linear!important; 
      position: relative;
    }
    .swiper-slide {
      text-align: center;
      font-size: 26px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      position: relative;
      overflow: hidden;
      padding: 0 50px;      
    }

    #last-match {
      padding: 3px 0;
      .last {
        display: flex;

        .last-match-timestamp {
          margin-left: 10px;
        }

        .last-match-team {
          display: flex;
          background-color: lighten($lightRed, 10%);          

          .contrast-mode & {
            background-color: lighten($lightBlue, 10%);
          }

          .last-match-player {
            display: flex;         
            padding: 0 10px 0 30px;
            position: relative;
            align-items: center; 
            background-color: #000;
            clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
            
            .contrast-mode & {
              background-color: ligthten(#000, 5%);
            }

            .name a{
              color: #ffffc0; 
              text-decoration: none;
              margin-right: 5px;             
            }

            .score {
              color: #ffffc0;
            }

            .difference-last {
              color: #ffffc0;
              padding: 0 30px 0 20px;
              background-color: #333;
              clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
            }
          } 
          
          .last-match-t1-score {
            font-weight: 700;
            padding: 0 30px;
            clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);            
          }

          .last-match-t2-score {
            font-weight: 700;
            padding: 0 30px;
            clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);            
          }
        }

        .last-match-separator {
          background-color: lighten($lightRed, 10%);

          .contrast-mode & {
            background-color: lighten($lightBlue, 10%);
          }
        }
      }

      .lost-color-last {
        color: red;
      }

      .win-color-last {
        color: green;
      }

      .lost-last {
        position: relative;  
        // border:2px solid red;
        outline:4px red solid;
        outline-offset:-6px;
      
        &:after {
          position: absolute;
          top: 15px;
          margin-left: 5px;
          content: "";
          background-image: url("/assets/downrate.gif");
          width: 10px;
          height: 5px;
        }
      }
      
      .won-last {
        position: relative;
        // border:2px solid green;
        outline:4px green solid;
        outline-offset:-6px;      
      
        &:after {
          position: absolute;
          top: 15px;
          margin-left: 5px;
          content: " ";
          background-image: url("/assets/uprate.gif");
          width: 10px;
          height: 5px;
        }
      }
    }
    
    @keyframes line-slide {
      0% {
        background-position: -5% 0;
      }
      100% {
        background-position: 100% 0;
      }
    }
  }
}

.wrapper {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  color: #ffffc0;  

  .important {
    background-color: $middleRed;
    padding: 30px 0;
    margin: 15px 0;
    background-image: url("/assets/panorama.png"); 
    background-size: contain;      

    .contrast-mode & {
      background-color: $middleBlue;      
    }

    &--home {
      padding: 0 20px;  
      margin: 0 20px;
      background-color: $middleRed;
      opacity: .9;

      .contrast-mode & {
        background-color: $middleBlue;
      }   
  
      h2 {
        font-weight: 700;
        padding-top: 15px;
      }

      .fa-arrow-circle-right {
        font-size: 30px;
        color: $darkenBlue;
        margin: 0 20px;
        
        .contrast-mode & {
          color: red;
        }
      } 
      
      &__info {
        padding-bottom: 15px;

        a {
          color: #ffffc0;
          text-decoration: none;
          font-weight: 700;
          font-size: 20px;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  

  h2 {
    padding: 20px 0;
  }

  .mainSh {
    padding: 50px 0 10px 0;
    font-size: 48px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;

    &:before {
      position: absolute;
      top: 50px;
      left: 50px;
      content: "";
      background-image: url("/assets/mp40.png");
      width: 200px;
      height: 100px;
      transform: rotate(45deg);

      @media screen and (max-width: 992px){
        display: none;
      }
    }

    &:after {
      position: absolute;
      top: 50px;
      left: 0px;
      content: "";
      background-image: url("/assets/tommy.png");
      width: 200px;
      height: 100px;
      transform: rotate(45deg);

      @media screen and (max-width: 992px){
        display: none;
      }
    }
  }

  .intro {
    padding: 30px 0;
    background-color: $lightRed;
    margin: 15px 0;

    .contrast-mode & {
      background-color: $lightBlue;
    }

    p {
      border-left: 5px solid #640000;
      padding: 20px 10px;
      margin: 15px 30px;
      font-style: italic;
    }    
  }

  .mainTitle {  
    padding: 30px 0;  
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #fff;   
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffffc0, 0 0 30px #ffffc0, 0 0 40px #ffffc0, 0 0 55px #ffffc0, 0 0 75px #ffffc0;
  }

  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 15px 15px;

    @media screen and (max-width: 800px){
      grid-template-columns: 1fr;
    }

    &__left {
      height: 225px;       
      overflow: hidden; 
      position: relative;
      
      @media screen and (max-width: 599px){
        height: auto;
      }

      &:before {
        content: "Click here to download";
        position: absolute;
        top: 0;
        left: 10px;
        font-size: 20px;
        color: $darkenRed;
      }
      
      &:hover {
        img {
          transform: scale(1.1);
          filter: grayscale(1);
        }
      }

      img {
        width: 100%;  
        height: 100%;          
        transition: all .4s;      
      }
    }

    &__right {
      height: 225px;      
      background-color: $lightRed;
      text-align: center;
      padding: 13px 5px;

      @media screen and (max-width: 599px){
        height: auto;
      }

      &--server {
        padding: 10px;

        span {
          background-color: $middleRed;
          display: inline-block;
          padding: 5px;
          font-weight: 700;
          font-size: 22px;

          .contrast-mode & {
            background-color: $middleBlue;
          }
        }
      }

      .contrast-mode & {
        background-color: $lightBlue;
      }

      // a {
      //   width: 100%;
      //   height: 100%;
      //   display: flex;
      //   justify-content: space-evenly;
      //   align-items: center;
      //   color: #ffffc0;
      //   text-decoration: none;
      //   font-size: 30px;
      //   transition: all .4s;

      //   @media screen and (max-width: 599px){
      //     display: block;
      //     text-align: center;
      //   }

      //   &:hover {
      //     background-color: lighten($middleRed, 15%);

      //     .contrast-mode & {
      //       background-color: lighten($middleBlue, 15%);
      //     }

      //     img {
      //       transform: rotate3d(1, 1, 1, 45deg);
      //     }
      //   }
      //   img {
      //     transition: all .4s;
      //     max-height: 218px;
      //   }
      // }
    }
  }

  .files {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 15px 15px;

    @media screen and (max-width:992px){
      grid-template-columns: 1fr 1fr;
    } 

    .file {
      height: 278px;
      background-color: $lightRed;
      color: #ffffc0;
      display: flex;
      justify-content: center;
      align-items: center;      
      transition: all .4s;

      .contrast-mode & {
        background-color: $lightBlue;
      }

      div {
        background-color: rgba(0,0,0,0.9);
        width: 100%;
        text-align: center;
        padding: 10px 0;
        font-size: 20px;
        font-weight: 700;
      }

      &:hover {
        background-color: lighten($lightRed, 15%);
        filter: sepia(50%);
      }
    }

    .sh {
      background-image: url('/src/assets/cropped-Medal-of-Honor-Allied-Assault-Spearhead-Cover.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }

    .mumble {
      background-image: url('/src/assets/1200px-Icons_mumble.svg.png');
      background-repeat: no-repeat;
      background-size: cover;
    }

    .mappack {
      background-image: url('/src/assets/ranked-custom-maps-for-medal-of-honor-allied-assault-1024x613.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }

    .tase {
      background-image: url('/src/assets/all-seeing-eye-3167-0.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  #siteurl {
    font-weight: 400;
  }   
}

#server {
  .server__head {
    display: flex;
    justify-content: center;    

    h2 {
      font-size: 40px;
      font-weight: 700;
    }

    h3 {
      font-size: 30px;
      padding-bottom: 20px;
    }
  }

  .mumble-desc {
    background-color: $lightRed;
    padding: 20px;
    margin: 20px 0;   
    text-align: center;
    
    p:first-of-type {
      text-align: left;
    }

    .contrast-mode & {
      background-color: $lightBlue;
    }

    img {      
      padding: 15px;
    }
  }
  
  .server {
    display: flex;
    justify-content: center;
  }
}

.row span {
  font-weight: 700;
  text-transform: uppercase;
}

.row {
  :nth-child(2){
    font-weight: 400;
  }
}

#pml {
  display: grid;
  grid-template-columns: 1fr 1fr 0.2fr 1fr 0.8fr 1fr 1fr;
  grid-template-rows: auto;  
  position: relative;

  @media screen and (max-width: 800px){
    grid-template-columns: 0.5fr 1fr 18px 1fr 0.5fr 0.5fr 1fr;
  }  

  .lds-dual-ring-rank {
    display: inline-block;
    width: 80px;
    height: 80px; 
    position: absolute;
    top: 80px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;    

  }
  .lds-dual-ring-rank:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring-rank2 1.2s linear infinite;
  }
  @keyframes lds-dual-ring-rank2 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }  

  .column {
    border-right: 1px solid $darkenRed;
    position: relative;
    .contrast-mode & {
      border-right-color: $darkenBlue;
    }
    &:last-of-type {
      border-right: none;
    }

    h2 {
      text-align: center;
      border-bottom: 3px solid $darkenRed;
      color: #ffffc0; 
      background-color: #333;
      height: 78px;
      
      .contrast-mode & {
        background-color: $lightBlue;
        border-bottom-color: $darkenBlue;
      }

      @media screen and (max-width: 800px){
        width: 100%;
        display: flex;
        align-items: center;
        writing-mode: tb-rl;
        font-size: 18px;
        font-weight: 700;
        height: 125px;  
        padding: 5px 0;      
      }
    }    

    .subcolumn {
      text-align: center;
      color: #ffffc0;
      position: relative;      

      .item {
        @media screen and (max-width: 800px){
          height: 50px;
          font-size: 14px;
          padding-top: 10px;
        }

        &:hover {
          a {
            color: $middleBlue;

            .contrast-mode & {
              color: red;
            }
          }
        }

        a {
          color: #ffffc0;
          text-decoration: none;          
        }
      }

      > :nth-child(2n-1){
       background-color: lighten($lightRed,10%);

       .contrast-mode & {
         background-color: lighten($lightBlue, 10%);
       }
      }

      > :nth-child(2n){
        background-color: $lightRed;
        .contrast-mode & {
          background-color: $lightBlue;
        }
      }

      > :nth-child(n){
        border-bottom: 1px solid $darkenRed;
        .contrast-mode & {
          border-bottom-color: $darkenBlue;
        }
      }     

      .item0 {
        position: relative;
        font-weight: 700;
        &:after {
          position: absolute;
          top: 5px;          
          margin-left: 5px;
          content: "";
          height: 13px;
          width: 10px;
          background-image: url("/assets/ladder1.gif");

          @media screen and (max-width: 800px) {
            top: 15px;
          }
        }
      }

      .item1 {
        position: relative;
        &:after {
          position: absolute;
          top: 5px;         
          margin-left: 5px;
          content: "";
          height: 13px;
          width: 10px;
          background-image: url("/assets/ladder2.gif");

          @media screen and (max-width: 800px) {
            top: 15px;
          }
        }
      }

      .item2 {
        position: relative;
        &:after {
          position: absolute;
          top: 5px;          
          margin-left: 5px;
          content: "";
          height: 13px;
          width: 10px;
          background-image: url("/assets/ladder3.gif");

          @media screen and (max-width: 800px) {
            top: 15px;
          }
        }
      }
    }
  }
}

#history {

  .nomatch-video {
    display: grid;
    grid-template-columns: 120px 4fr 4fr;
    grid-template-rows: auto;    
    border: 1px solid $darkenRed;   
    padding-bottom: 15px; 
    background-color: $darkenRed;

    .contrast-mode & {
      border-color: $darkenBlue;
      background-color: $darkenBlue;
    }

    .vComments {
      grid-column-start: 1;
      grid-column-end: 4;
    }

    @media screen and (max-width: 1100px){
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: 15px 15px;
    }

    .date {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;      
      padding: 10px;
      background-color: #ffffc0;
      color: $middleRed;
      max-width: 120px;

      @media screen and (max-width: 1100px){
        min-width: 100%;
      }

      .contrast-mode & {
        background-color: lighten($lightBlue, 15%);
        color: $darkenBlue;
      }

      .matchId {
        font-size: 22px;
        font-weight: 700;
      }

      a, a:visited {
        color: $darkenRed;

        .contrast-mode & {
          color: $darkenBlue;
        }
      }

      .matchVideo {
        font-size: 24px;         
        padding: 10px 15px; 
        font-weight: 700;
        position: relative;

        i {
          font-size: 30px;
        }

        @keyframes pulse {
          0% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
          }
        
          70% {
            transform: scale(1);
            color: red;
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
          }
        
          100% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
          }
        }
        
        &:after {
          position: absolute;
          content: "1";
          background-color: red;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          top: -10px;
          right: 0;
          color: $darkenRed;
          font-size: 20px;
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
          transform: scale(1);          
          animation: pulse 2s infinite;

          .contrast-mode & {
            color: $darkenBlue;
          }
        }
      }

      .comment-info {
        position: relative;

        .counter-comments {
          position: absolute;
          right: -13px;
          top: -10px; 
          background-color: #fff;
          font-size: 18px;
          width: 28px;
          height: 28px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          font-weight: 700;         
        }

        .counter-icon {
          font-size: 30px;
        }
      }
    }

    .bg__green {
      background-color: $lightRed;

      .contrast-mode & {
        background-color: $lightBlue;
      }
    }

    .bg__red {
      background-color: $middleRed;

      .contrast-mode & {
        background-color: $middleBlue;
      }
    }

    .bg__gray {
      background-color: gray;
    }

    .team {
      .roudswon1, .roudswon2 {
        padding: 10px;
        display: flex;
        justify-content:center;
        font-size: 28px;
        font-weight: 700; 
        border-bottom: 2px solid #ffffc0; 
        color: #ffffc0;      
      }      

      .players {
        padding: 10px;
        color: darken(#ffffc0,10%);
        .player {
          display: flex;
          align-items: flex-end;
          
          .preelo {
            font-size: 12px;
          }

          .name {
            font-size: 18px;
            margin: 0 10px;

            a {
              text-decoration: none;
              color: #ffff8d;

              &:hover {
                text-decoration: underline;
              }
            }
          }

          .score {
            font-size: 18px;
            margin-right: 10px;
          }

          .postelo {
            font-size: 12px;
          }

          .difference {
            font-size: 12px;
            margin-left: 10px;
          }
        }

        .won {
          position: relative;

          &:after {
            position: absolute;
            top: 5px;
            margin-left: 5px;
            content: " ";
            background-image: url("/assets/uprate.gif");
            width: 10px;
            height: 5px;
          }
        }

        .lost {
          position: relative;

          &:after {
            position: absolute;
            top: 5px;
            margin-left: 5px;
            content: "";
            background-image: url("/assets/downrate.gif");
            width: 10px;
            height: 5px;
          }
        }
      }
    }
  }

  .match {
    display: grid;
    grid-template-columns: 120px 3fr 3fr 300px;
    grid-template-rows: auto;    
    border: 1px solid $darkenRed;   
    padding-bottom: 15px; 
    background-color: $darkenRed;    

    .contrast-mode & {
      border-color: $darkenBlue;
      background-color: $darkenBlue;
    }

    @media screen and (max-width: 1100px){
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: 15px 15px;
    }

    .date {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;      
      padding: 10px;
      background-color: #ffffc0;
      color: $middleRed;
      max-width: 120px;

      @media screen and (max-width: 1100px){
        min-width: 100%;
      }

      .contrast-mode & {
        background-color: lighten($lightBlue, 15%);
        color: $darkenBlue;
      }

      .matchId {
        font-size: 22px;
        font-weight: 700;
      }

      a, a:visited {
        color: $darkenRed;

        .contrast-mode & {
          color: $darkenBlue;
        }
      }

      .matchVideo {
        font-size: 24px;         
        padding: 10px 15px; 
        font-weight: 700;
        position: relative;

        i {
          font-size: 30px;
        }

        @keyframes pulse {
          0% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
          }
        
          70% {
            transform: scale(1);            
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
          }
        
          100% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
          }
        }
        
        &:after {
          position: absolute;
          content: "1";
          background-color: red;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          top: -10px;
          right: 0;
          color: $darkenRed;
          font-size: 20px;
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
          transform: scale(1);          
          animation: pulse 2s infinite;

          .contrast-mode & {
            color: $darkenBlue;
          }
        }
      }

      .comment-info {
        position: relative;

        .counter-comments {
          position: absolute;
          right: -13px;
          top: -10px; 
          background-color: #fff;
          font-size: 18px;
          width: 28px;
          height: 28px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          font-weight: 700;         
        }

        .counter-icon {
          font-size: 30px;
        }
      }
    }

    .bg__green {
      background-color: $lightRed;

      .contrast-mode & {
        background-color: $lightBlue;
      }
    }

    .bg__red {
      background-color: $middleRed;

      .contrast-mode & {
        background-color: $middleBlue;
      }
    }

    .bg__gray {
      background-color: gray;
    }

    .team {
      .roudswon1, .roudswon2 {
        padding: 10px;
        display: flex;
        justify-content:center;
        font-size: 28px;
        font-weight: 700; 
        border-bottom: 2px solid #ffffc0; 
        color: #ffffc0;      
      }      

      .players {
        padding: 10px;
        color: darken(#ffffc0,10%);
        .player {
          display: flex;
          align-items: flex-end;
          
          .preelo {
            font-size: 12px;
          }

          .name {
            font-size: 18px;
            margin: 0 10px;

            a {
              text-decoration: none;
              color: #ffff8d;

              &:hover {
                text-decoration: underline;
              }
            }
          }

          .score {
            font-size: 18px;
            margin-right: 10px;
          }

          .postelo {
            font-size: 12px;
          }

          .difference {
            font-size: 12px;
            margin-left: 10px;
          }
        }

        .won {
          position: relative;

          &:after {
            position: absolute;
            top: 5px;
            margin-left: 5px;
            content: " ";
            background-image: url("/assets/uprate.gif");
            width: 10px;
            height: 5px;
          }
        }

        .lost {
          position: relative;

          &:after {
            position: absolute;
            top: 5px;
            margin-left: 5px;
            content: "";
            background-image: url("/assets/downrate.gif");
            width: 10px;
            height: 5px;
          }
        }
      }
    }
  }  
}

.match-detail {
  .match-details {
    .match-single {
      display: grid;
      grid-template-columns: 120px 4fr 4fr;
      grid-template-rows: auto;    
      border: 1px solid $darkenRed;   
      padding-bottom: 15px; 
      background-color: $darkenRed;
  
      .contrast-mode & {
        border-color: $darkenBlue;
        background-color: $darkenBlue;
      }
  
      .vComments {
        grid-column-start: 1;
        grid-column-end: 4;
      }
  
      @media screen and (max-width: 1100px){
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 15px 15px;
      }
  
      .date {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;      
        padding: 10px;
        background-color: #ffffc0;
        color: $middleRed;
        max-width: 120px;
  
        @media screen and (max-width: 1100px){
          min-width: 100%;
        }
  
        .contrast-mode & {
          background-color: lighten($lightBlue, 15%);
          color: $darkenBlue;
        }
  
        .matchId {
          font-size: 22px;
          font-weight: 700;
        }
  
        a, a:visited {
          color: $darkenRed;
  
          .contrast-mode & {
            color: $darkenBlue;
          }
        }
  
        .matchVideo {
          font-size: 24px;         
          padding: 10px 15px; 
          font-weight: 700;
          position: relative;
  
          i {
            font-size: 30px;
          }
  
          @keyframes pulse {
            0% {
              transform: scale(0.95);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
            }
          
            70% {
              transform: scale(1);
              //color: red;
              box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
            }
          
            100% {
              transform: scale(0.95);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            }
          }
          
          &:after {
            position: absolute;
            content: "1";
            background-color: red;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            top: -10px;
            right: 0;
            color: $darkenRed;
            font-size: 20px;
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
            transform: scale(1);          
            animation: pulse 2s infinite;
  
            .contrast-mode & {
              color: $darkenBlue;
            }
          }
        }
  
        .comment-info {
          position: relative;
  
          .counter-comments {
            position: absolute;
            right: -13px;
            top: -10px; 
            background-color: #fff;
            font-size: 18px;
            width: 28px;
            height: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            font-weight: 700;         
          }
  
          .counter-icon {
            font-size: 30px;
          }
        }
      }
  
      .bg__green {
        background-color: $lightRed;
  
        .contrast-mode & {
          background-color: $lightBlue;
        }
      }
  
      .bg__red {
        background-color: $middleRed;
  
        .contrast-mode & {
          background-color: $middleBlue;
        }
      }
  
      .bg__gray {
        background-color: gray;
      }
  
      .team {
        .roudswon1, .roudswon2 {
          padding: 10px;
          display: flex;
          justify-content:center;
          font-size: 28px;
          font-weight: 700; 
          border-bottom: 2px solid #ffffc0; 
          color: #ffffc0;      
        }      
  
        .players {
          padding: 10px;
          color: darken(#ffffc0,10%);
          .player {
            display: flex;
            align-items: flex-end;
            
            .preelo {
              font-size: 12px;
            }
  
            .name {
              font-size: 18px;
              margin: 0 10px;
  
              a {
                text-decoration: none;
                color: #ffff8d;
  
                &:hover {
                  text-decoration: underline;
                }
              }
            }
  
            .score {
              font-size: 18px;
              margin-right: 10px;
            }
  
            .postelo {
              font-size: 12px;
            }
  
            .difference {
              font-size: 12px;
              margin-left: 10px;
            }
          }
  
          .won {
            position: relative;
  
            &:after {
              position: absolute;
              top: 5px;
              margin-left: 5px;
              content: " ";
              background-image: url("/assets/uprate.gif");
              width: 10px;
              height: 5px;
            }
          }
  
          .lost {
            position: relative;
  
            &:after {
              position: absolute;
              top: 5px;
              margin-left: 5px;
              content: "";
              background-image: url("/assets/downrate.gif");
              width: 10px;
              height: 5px;
            }
          }
        }
      }
    }
  }
}

#pagin {
  background-color: $middleRed;
  margin: 0;
  padding: 15px 40px;
  display: flex;
  justify-content: flex-end;

  .contrast-mode & {
    background-color: $middleBlue;
  }

  li {
    display: inline-block;
    margin: 0 5px;
  
    .current {
      color: #ffffc0;
    }
    
  
    a {
      font-weight: 700;
      color: #000;
    }
  }

  .prev {
    cursor: pointer;
  }
  
  .next {
    cursor: pointer;
  }
  
  .last{
    cursor:pointer;
    margin-left:5px;
  }
  
  .first{
    cursor:pointer;
    margin-right:5px;
  }
}

.contrast__button {
  outline: none;
  appearance: none;
  border: 0;
  background-color: transparent;

  i {
    font-size: 16px;
    color: #ffffc0;
    cursor: pointer;
  }
}

#selectionTeams {
  .matchSelection {
    display: grid;
    grid-template-columns: 1fr 4.5fr 4.5fr;
    grid-template-rows: auto;    
    border: 1px solid $darkenRed;   
    padding-bottom: 15px; 
    background-color: $darkenRed;
    gap: 15px 15px;

    .contrast-mode & {
      border-color: $darkenBlue;
      background-color: $darkenBlue;
    }

    @media screen and (max-width: 800px){
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: 15px 15px;
    }

    .date {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;      
      padding: 10px;
      background-color: #ffffc0;
      color: $middleRed;

      .contrast-mode & {
        background-color: lighten($lightBlue, 15%);
        color: $darkenBlue;
      }

      .matchId {
        font-size: 22px;
        font-weight: 700;
      }
    }

    .bg__green {
      background-color: $lightRed;

      .contrast-mode & {
        background-color: $lightBlue;
      }
    }

    .bg__red {
      background-color: $middleRed;

      .contrast-mode & {
        background-color: $middleBlue;
      }
    }

    .bg__gray {
      background-color: gray;
    }

    .team {
      background-color: $lightRed;

      .contrast-mode & {
        background-color: $lightBlue;
      }
      .roudswon1, .roudswon2 {
        padding: 10px;
        display: flex;
        justify-content:center;
        font-size: 28px;
        font-weight: 700; 
        border-bottom: 2px solid #ffffc0; 
        color: #ffffc0;      
      }      

      .players {
        padding: 10px;
        color: darken(#ffffc0,10%);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 15px 15px;
        .player {
          display: flex;
          align-items: flex-end;
          
          .preelo {
            font-size: 12px;
          }

          .name {
            font-size: 18px;
            margin: 0 10px;

            a {
              text-decoration: none;
              color: #ffff8d;

              &:hover {
                text-decoration: underline;
              }
            }
          }

          .score {
            font-size: 18px;
            margin-right: 10px;
          }

          .postelo {
            font-size: 12px;
          }

          .difference {
            font-size: 12px;
            margin-left: 10px;
          }
        }

        .chance-desc {
          display: flex;
          justify-content: center;
          margin-bottom: 15px;
        }

        .chance {
          display: flex;
          justify-content: center;
          align-items: center; 
          border: 10px solid $darkenRed; 
          font-size: 30px;  
          font-weight: 700; 
          
          .contrast-mode & {
            border-color: $darkenBlue;
          }
        }

        @keyframes pulse-win {
          0% {border-color: green;}
          50% {border-color: rgba(0, 255, 255, 0);}
          100% {border-color: green}
        }

        @keyframes pulse-lose {
          0% {border-color: red;}
          50% {border-color: rgba(0, 255, 255, 0);}
          100% {border-color: red}
        }

        .chance-win {
          animation: pulse-win 5s infinite;
        }

        .chance-lose {
          animation: pulse-lose 5s infinite;
          animation-delay: 2.5s;
        }

        .won {
          position: relative;

          &:after {
            position: absolute;
            top: 5px;
            margin-left: 5px;
            content: " ";
            background-image: url("/assets/uprate.gif");
            width: 10px;
            height: 5px;
          }
        }

        .lost {
          position: relative;

          &:after {
            position: absolute;
            top: 5px;
            margin-left: 5px;
            content: "";
            background-image: url("/assets/downrate.gif");
            width: 10px;
            height: 5px;
          }
        }
      }

      .cumulative {
        padding: 10px;
        color: darken(#ffffc0,10%);
      }
    }
  }
}

.card {
  color: #ffffc0;
}

.increaseDecrease {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 15px;
 
  @media screen and (max-width: 800px){
    grid-template-columns: 1fr;
  }

  .streak {
    background-color: $lightRed;
    padding: 15px;

    a {
      color: #ffffc0;
    }

    .contrast-mode & {
      background-color: $lightBlue;
    }

    .fa-arrow-up {
      color: green;
      margin-left: 5px;
      padding: 5px 6px;
      background-color: #ffffc0;
      border-radius: 50%;
    }
  }  
}

canvas {
  margin-top: 30px;
}

.frag-item {
  padding: 10px; 
  position: relative; 
  display: flex;
  align-items: center; 

  .frag-value {
    font-size: 20px;
    padding: 5px;
    background-color: $middleRed;
    font-weight: 700;
    margin-left: 5px;
    display: inline-block; 
    position: relative;   

    .contrast-mode & {
      background-color: $middleBlue;
    }    
  }

  img {
    margin-left: 5px;
  }

  // .frag-avarage::after {
  //   position: absolute;
  //   content: '';
  //   top: 0;
  //   right: 0;
  //   background-image: url('./assets/avarage.png');
  // }

  // .frag-low::after {
  //   position: absolute;
  //   content: '';
  //   top: 0;
  //   right: 0;
  //   background-image: url('./assets/low.png');
  // }
}

.frag-title {
  margin: 10px 0;
  font-size: 20px; 
  display: inline-block; 
  
  
  .frag-name {
    font-weight: 700;
    text-decoration: underline;
    letter-spacing: 2px;
    padding: 10px;
    background-color: $middleRed;
    display: inline-block;

    .contrast-mode & {
      background-color: $middleBlue;
    }
  }
}

.video-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

// .item2, .item8, .item21 {
//   position: relative;

//   a:before {   
//   }

//   @keyframes tap {
//     0% {
//       background-color: rgba(255,0,0,0.3);
//     }

//     50% {
//       background-color: rgba(255,0,0,0);
//       transform: scale(1.2);
//     }

//     100% {
//       background-color: rgba(255,0,0,0.3);
//     }
//   }

//   &:before {
//     position: absolute;
//     top: 5px;
//     right: -60px;
//     left: 0;
//     content:"\f0a6";
//     width: 70px;
//     height: 70px;
//     color: #ffffc0;
//     font-family: "Font Awesome 5 Free";
//     margin-left: auto;
//     margin-right: auto;
//     text-align: center;
//     background-color: rgba(255,0,0,0.3);
//     font-size: 30px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     border-radius: 50%;
//     transform: rotate(320deg);
//     animation: tap 3s infinite;    
//   }
// }

.popup {
  width: fit-content;
  padding: 0 10px;
	height: 200px;
	background-color: $darkenRed;	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;  	
  margin: auto;
  color: #ffffc0;
  border: 15px dashed $darkenBlue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 0 0 1000px rgba(255,0,0,0.3);

  a {
    font-size: 50px;
    color: #ffffc0;
    text-decoration: none;
    font-weight: 700;
  }

  .close {
    position: absolute;
    top: -23px;
    right:-15px;
    font-size: 30px;
    z-index: 10;
    cursor: pointer;
  }
}

.warcard {
  .comment-form {
    margin-top: 15px;
    display: grid;

    label {
      margin: 5px 0;
    }

    input[type="submit"] {
      width: 200px;
      border: 0;
      outline: none;
      padding: 10px;
      font-weight: 700;
      margin: 0 auto;
      margin-top: 15px; 
      cursor: pointer;  
      transition: all .4s;
      
      &:hover {
        background-color: $lightRed;
        color: #ffffc0;

        .contrast-mode & {
          background-color: $lightBlue;
          color: #ffffc0;
        }
      }      
    }
  }

  .comments-container {
    margin: 15px 0;

    .comment {
      display: grid;
      grid-template-columns: 1fr 4fr;
      grid-template-rows: auto; 
      margin-bottom: 15px;
      
      &--left {
        background-color: $lightRed;
        padding: 15px;

        .contrast-mode & {
          background-color: $lightBlue;
        }

        h4 {
          font-weight: 700;
          text-decoration: underline;

          a, a:visited {
            color: #ffffc0;
          }
        }

        span {
          font-size: 12px;
        }
      }

      &--right {
        background-color: $middleRed;
        padding: 15px;

        .contrast-mode & {
          background-color: $middleBlue;
        }
      }
    }
  }  
}

#inactive {
  #pml {
    display: grid;
    grid-template-columns: 1fr 1fr 0.2fr 1fr 0.8fr 1fr 1fr;
    grid-template-rows: auto;  
  
    @media screen and (max-width: 800px){
      grid-template-columns: 0.5fr 1fr 18px 1fr 0.5fr 0.5fr 1fr;
    }
  
    .column {
      border-right: 1px solid $darkenRed;
      position: relative;
      .contrast-mode & {
        border-right-color: $darkenBlue;
      }
      &:last-of-type {
        border-right: none;
      }
  
      h2 {
        text-align: center;
        border-bottom: 3px solid $darkenRed;
        color: #ffffc0; 
        background-color: #333;
        height: 78px;
        
        .contrast-mode & {
          background-color: $lightBlue;
          border-bottom-color: $darkenBlue;
        }
  
        @media screen and (max-width: 800px){
          width: 100%;
          display: flex;
          align-items: center;
          writing-mode: tb-rl;
          font-size: 18px;
          font-weight: 700;
          height: 125px;  
          padding: 5px 0;      
        }
      }    
  
      .subcolumn {
        text-align: center;
        color: #ffffc0;
  
        .item {
          @media screen and (max-width: 800px){
            height: 50px;
            font-size: 14px;
            padding-top: 10px;
          }
  
          &:hover {
            a {
              color: $middleBlue;
  
              .contrast-mode & {
                color: red;
              }
            }
          }
  
          a {
            color: #ffffc0;
            text-decoration: none;          
          }
        }
  
        > :nth-child(2n-1){
         background-color: lighten(gray,10%);
  
         .contrast-mode & {
           background-color: lighten(gray, 10%);
         }
        }
  
        > :nth-child(2n){
          background-color: gray;
          .contrast-mode & {
            background-color: gray;
          }
        }
  
        > :nth-child(n){
          border-bottom: 1px solid $darkenRed;
          .contrast-mode & {
            border-bottom-color: $darkenBlue;
          }
        }     
  
        .item0 {
          position: relative;
          font-weight: 700;
          &:after {
            position: absolute;
            top: 5px;          
            margin-left: 5px;
            content: "";
            height: 13px;
            width: 10px;
            background-image: url("/assets/ladder1.gif");
  
            @media screen and (max-width: 800px) {
              top: 15px;
            }
          }
        }
  
        .item1 {
          position: relative;
          &:after {
            position: absolute;
            top: 5px;         
            margin-left: 5px;
            content: "";
            height: 13px;
            width: 10px;
            background-image: url("/assets/ladder2.gif");
  
            @media screen and (max-width: 800px) {
              top: 15px;
            }
          }
        }
  
        .item2 {
          position: relative;
          &:after {
            position: absolute;
            top: 5px;          
            margin-left: 5px;
            content: "";
            height: 13px;
            width: 10px;
            background-image: url("/assets/ladder3.gif");
  
            @media screen and (max-width: 800px) {
              top: 15px;
            }
          }
        }
      }
    }
  }
}

#log {
  .log {
    background-color: $middleRed; 
    padding: 20px;
    .contrast-mode & {
      background-color: $middleBlue;
    }
  }
}

.lds-dual-ring3 {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring3:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring3 1.2s linear infinite;
}
@keyframes lds-dual-ring3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}     